body {
    margin: 0;
    font-family: 'BookmanOldStyle' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  @font-face {
    font-family: 'BookmanOldStyle';
    src: url('/src/assets/Fonts/BookmanOldStyle.ttf') format('truetype');
  }