.slider {
    max-width: 1110px;
    margin: 0 auto;
}

.slick-track {
    padding-top: 53px;
    padding-bottom: 53px;
    display: flex;
}

.slick-slide {
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.slick-slide:not(.slick-current) {
    filter: brightness(0.3);
}

.slick-slide.slick-current {
    transform: scale(1.5);
    position: relative;
    z-index: 1;
}

.slick-slide img {
    width: 100%;
}


.slick-dots.slick-thumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
}

.slick-dots.slick-thumb li {
    list-style-type: none;
    margin: 0px 5px;
}

.slick-dots.slick-thumb li button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FFF;
    color: transparent;
    border: none;
}
  
.slick-dots.slick-thumb li.slick-active button {
    background: #00baff;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: transparent;
}

.arrow {
    position: absolute;
    color: #000000;
    font-size: 2.5em;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
}

.arrow img {
    width: 40px;
}
  
.nextArrow {
    top: 50%;
    right: 10%;
    transform: translate(-50%, 0);
}
  
.prevArrow {
    top: 50%;
    left: 10%;
}